Repository autowarefoundation/autoware_msgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

feat: add autoware_perception_msgs/FutureTrafficLightState message
  autoware_perception_msgs/CMakeLists.txt
  autoware_perception_msgs/msg/FutureTrafficLightState.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat: update autoware_perception_msgs/TrafficLightGroup to include predictions
  autoware_perception_msgs/msg/TrafficLightGroup.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix: add inline comments to autoware_perception_msgs/FutureTrafficLightState message
  autoware_perception_msgs/msg/FutureTrafficLightState.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix: rename to PredictedTrafficLightState, update field names
  autoware_perception_msgs/CMakeLists.txt
  autoware_perception_msgs/msg/FutureTrafficLightState.msg
  autoware_perception_msgs/msg/PredictedTrafficLightState.msg
  autoware_perception_msgs/msg/TrafficLightGroup.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix: change CMakeLists.txt to alphabetical order
  autoware_perception_msgs/CMakeLists.txt
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix: add local_perception as predicted traffic light state information_source
  autoware_perception_msgs/msg/PredictedTrafficLightState.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_perception_msgs): update traffic light messages to include future states (#134)
  autoware_perception_msgs/CMakeLists.txt
  autoware_perception_msgs/msg/PredictedTrafficLightState.msg
  autoware_perception_msgs/msg/TrafficLightGroup.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

chore: update changelog
  autoware_common_msgs/CHANGELOG.rst
  autoware_control_msgs/CHANGELOG.rst
  autoware_localization_msgs/CHANGELOG.rst
  autoware_map_msgs/CHANGELOG.rst
  autoware_msgs/CHANGELOG.rst
  autoware_perception_msgs/CHANGELOG.rst
  autoware_planning_msgs/CHANGELOG.rst
  autoware_sensing_msgs/CHANGELOG.rst
  autoware_system_msgs/CHANGELOG.rst
  autoware_v2x_msgs/CHANGELOG.rst
  autoware_vehicle_msgs/CHANGELOG.rst
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

1.8.0
  autoware_common_msgs/CHANGELOG.rst
  autoware_common_msgs/package.xml
  autoware_control_msgs/CHANGELOG.rst
  autoware_control_msgs/package.xml
  autoware_localization_msgs/CHANGELOG.rst
  autoware_localization_msgs/package.xml
  autoware_map_msgs/CHANGELOG.rst
  autoware_map_msgs/package.xml
  autoware_msgs/CHANGELOG.rst
  autoware_msgs/package.xml
  autoware_perception_msgs/CHANGELOG.rst
  autoware_perception_msgs/package.xml
  autoware_planning_msgs/CHANGELOG.rst
  autoware_planning_msgs/package.xml
  autoware_sensing_msgs/CHANGELOG.rst
  autoware_sensing_msgs/package.xml
  autoware_system_msgs/CHANGELOG.rst
  autoware_system_msgs/package.xml
  autoware_v2x_msgs/CHANGELOG.rst
  autoware_v2x_msgs/package.xml
  autoware_vehicle_msgs/CHANGELOG.rst
  autoware_vehicle_msgs/package.xml
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

chore: bump version to 1.8.0 (#135)
  autoware_common_msgs/CHANGELOG.rst
  autoware_common_msgs/package.xml
  autoware_control_msgs/CHANGELOG.rst
  autoware_control_msgs/package.xml
  autoware_localization_msgs/CHANGELOG.rst
  autoware_localization_msgs/package.xml
  autoware_map_msgs/CHANGELOG.rst
  autoware_map_msgs/package.xml
  autoware_msgs/CHANGELOG.rst
  autoware_msgs/package.xml
  autoware_perception_msgs/CHANGELOG.rst
  autoware_perception_msgs/package.xml
  autoware_planning_msgs/CHANGELOG.rst
  autoware_planning_msgs/package.xml
  autoware_sensing_msgs/CHANGELOG.rst
  autoware_sensing_msgs/package.xml
  autoware_system_msgs/CHANGELOG.rst
  autoware_system_msgs/package.xml
  autoware_v2x_msgs/CHANGELOG.rst
  autoware_v2x_msgs/package.xml
  autoware_vehicle_msgs/CHANGELOG.rst
  autoware_vehicle_msgs/package.xml
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

porting::system::add service_log to autoware_system_msgs, v0.0
  autoware_system_msgs/CMakeLists.txt
  autoware_system_msgs/msg/ServiceLog.msg
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(workflow): add version control workflows
  .github/workflows/bump-new-version.yaml
  .github/workflows/release-new-version-when-merged.yaml
Owners: none

fix(bump-new-version): bugs as follows
  .github/workflows/bump-new-version.yaml
Owners: none

feat(autoware_planning_msgs): add route services
  autoware_planning_msgs/CMakeLists.txt
  autoware_planning_msgs/msg/RouteState.msg
  autoware_planning_msgs/package.xml
  autoware_planning_msgs/srv/ClearRoute.srv
  autoware_planning_msgs/srv/SetLaneletRoute.srv
  autoware_planning_msgs/srv/SetWaypointRoute.srv
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat: add InitializeLocalization service
  autoware_localization_msgs/CMakeLists.txt
  autoware_localization_msgs/package.xml
  autoware_localization_msgs/srv/InitializeLocalization.srv
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix: add service file in CMakeLists.txt
  autoware_localization_msgs/CMakeLists.txt
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_system_msgs): move services from tier4_system_msgs
  autoware_system_msgs/CMakeLists.txt
  autoware_system_msgs/package.xml
  autoware_system_msgs/srv/ChangeAutowareControl.srv
  autoware_system_msgs/srv/ChangeOperationMode.srv
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_system_msgs): move services from tier4_system_msgs (#140)
  autoware_system_msgs/CMakeLists.txt
  autoware_system_msgs/package.xml
  autoware_system_msgs/srv/ChangeAutowareControl.srv
  autoware_system_msgs/srv/ChangeOperationMode.srv
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_planning_msgs): add route services (#138)
  autoware_planning_msgs/CMakeLists.txt
  autoware_planning_msgs/msg/RouteState.msg
  autoware_planning_msgs/package.xml
  autoware_planning_msgs/srv/ClearRoute.srv
  autoware_planning_msgs/srv/SetLaneletRoute.srv
  autoware_planning_msgs/srv/SetWaypointRoute.srv
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_localization_msgs): add InitializeLocalization service (#139)
  autoware_localization_msgs/CMakeLists.txt
  autoware_localization_msgs/package.xml
  autoware_localization_msgs/srv/InitializeLocalization.srv
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

chore: update CHANGELOG.rst
  autoware_common_msgs/CHANGELOG.rst
  autoware_control_msgs/CHANGELOG.rst
  autoware_localization_msgs/CHANGELOG.rst
  autoware_map_msgs/CHANGELOG.rst
  autoware_msgs/CHANGELOG.rst
  autoware_perception_msgs/CHANGELOG.rst
  autoware_planning_msgs/CHANGELOG.rst
  autoware_sensing_msgs/CHANGELOG.rst
  autoware_system_msgs/CHANGELOG.rst
  autoware_v2x_msgs/CHANGELOG.rst
  autoware_vehicle_msgs/CHANGELOG.rst
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

1.9.0
  autoware_common_msgs/CHANGELOG.rst
  autoware_common_msgs/package.xml
  autoware_control_msgs/CHANGELOG.rst
  autoware_control_msgs/package.xml
  autoware_localization_msgs/CHANGELOG.rst
  autoware_localization_msgs/package.xml
  autoware_map_msgs/CHANGELOG.rst
  autoware_map_msgs/package.xml
  autoware_msgs/CHANGELOG.rst
  autoware_msgs/package.xml
  autoware_perception_msgs/CHANGELOG.rst
  autoware_perception_msgs/package.xml
  autoware_planning_msgs/CHANGELOG.rst
  autoware_planning_msgs/package.xml
  autoware_sensing_msgs/CHANGELOG.rst
  autoware_sensing_msgs/package.xml
  autoware_system_msgs/CHANGELOG.rst
  autoware_system_msgs/package.xml
  autoware_v2x_msgs/CHANGELOG.rst
  autoware_v2x_msgs/package.xml
  autoware_vehicle_msgs/CHANGELOG.rst
  autoware_vehicle_msgs/package.xml
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

chore: bump version to 1.9.0 (#141)
  autoware_common_msgs/CHANGELOG.rst
  autoware_common_msgs/package.xml
  autoware_control_msgs/CHANGELOG.rst
  autoware_control_msgs/package.xml
  autoware_localization_msgs/CHANGELOG.rst
  autoware_localization_msgs/package.xml
  autoware_map_msgs/CHANGELOG.rst
  autoware_map_msgs/package.xml
  autoware_msgs/CHANGELOG.rst
  autoware_msgs/package.xml
  autoware_perception_msgs/CHANGELOG.rst
  autoware_perception_msgs/package.xml
  autoware_planning_msgs/CHANGELOG.rst
  autoware_planning_msgs/package.xml
  autoware_sensing_msgs/CHANGELOG.rst
  autoware_sensing_msgs/package.xml
  autoware_system_msgs/CHANGELOG.rst
  autoware_system_msgs/package.xml
  autoware_v2x_msgs/CHANGELOG.rst
  autoware_v2x_msgs/package.xml
  autoware_vehicle_msgs/CHANGELOG.rst
  autoware_vehicle_msgs/package.xml
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp, yukihiro.saito@tier4.jp

feat(autoware_sensing_msgs): add PointCloud meta info msgs
  autoware_sensing_msgs/CMakeLists.txt
  autoware_sensing_msgs/msg/ConcatenatedPointCloudInfo.msg
  autoware_sensing_msgs/msg/SourcePointCloudInfo.msg
  autoware_sensing_msgs/package.xml
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_sensing_msgs): add concat status-related fields
  autoware_sensing_msgs/CMakeLists.txt
  autoware_sensing_msgs/msg/ConcatenatedPointCloudInfo.msg
  autoware_sensing_msgs/package.xml
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

chore: update maintainer for autoware_msgs packages
  autoware_common_msgs/package.xml
  autoware_localization_msgs/package.xml
  autoware_map_msgs/package.xml
  autoware_perception_msgs/package.xml
  autoware_planning_msgs/package.xml
  autoware_sensing_msgs/package.xml
  autoware_system_msgs/package.xml
  autoware_vehicle_msgs/package.xml
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix(autoware_sensing_msgs): field description
  autoware_sensing_msgs/msg/ConcatenatedPointCloudInfo.msg
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix(autoware_sensing_msgs): remove redundant fields
  autoware_sensing_msgs/msg/SourcePointCloudInfo.msg
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_sensing_msgs): allow multiple matching strategies
  autoware_sensing_msgs/msg/ConcatenatedPointCloudInfo.msg
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix(autoware_sensing_msgs): comment alignment
  autoware_sensing_msgs/msg/SourcePointCloudInfo.msg
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

feat(autoware_sensing_msgs): store matching strategy configuration as a raw data
  autoware_sensing_msgs/msg/ConcatenatedPointCloudInfo.msg
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

fix(autoware_sensing_msgs): remove unused deps
  autoware_sensing_msgs/CMakeLists.txt
  autoware_sensing_msgs/package.xml
Owners: mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

chore: update maintainer for autoware_msgs packages (#143)
  autoware_common_msgs/package.xml
  autoware_localization_msgs/package.xml
  autoware_map_msgs/package.xml
  autoware_perception_msgs/package.xml
  autoware_planning_msgs/package.xml
  autoware_sensing_msgs/package.xml
  autoware_system_msgs/package.xml
  autoware_vehicle_msgs/package.xml
Owners: isamu.takagi@tier4.jp, mfc@autoware.org, ryohsuke.mitsudome@tier4.jp, yutaka.kondo@tier4.jp

.github/CODEOWNERS:

### Automatically generated from package.xml ###
autoware_common_msgs/** isamu.takagi@tier4.jp mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_control_msgs/** mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_localization_msgs/** mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_map_msgs/** mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_msgs/** mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_perception_msgs/** isamu.takagi@tier4.jp mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_planning_msgs/** isamu.takagi@tier4.jp mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_sensing_msgs/** mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_system_msgs/** isamu.takagi@tier4.jp mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp
autoware_v2x_msgs/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp yukihiro.saito@tier4.jp
autoware_vehicle_msgs/** mfc@autoware.org ryohsuke.mitsudome@tier4.jp yutaka.kondo@tier4.jp

### Copied from .github/CODEOWNERS-manual ###
